<div class="container">
  <h2>Staff Attendance</h2>
  <div class="row">
    <div class="col-md-4">
      <input type="text" class="form-control" placeholder="search" />
    </div>
    <div class="col-md-4">
      <select class="form-control">
        <option>Select</option>
        <option>Surgeon</option>
        <option>Cardiology</option>
        <option>Dermat</option>
      </select>
      <label>Shifts</label>
    </div>
    <div class="col-md-4">
      <input type="date" class="form-control" placeholder="search" />
    </div>
    
  </div>
  <div class="row">
    <div class="col">
      <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#addProjectModalDialog">Add Staff</button>
    </div>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Role</th>
        <th>Department</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Rohan</td>
        <td>Doctor</td>
        <td>Surgeon</td>
        <td><span class="label label-success">Active</span></td>
        <td>
          <a href="#" class="btn btn-sm" data-toggle="modal" data-target="#deleteProjectModalDialog">
            <span class="glyphicon glyphicon-pencil editbtn"></span>
          </a>
          <a href="#" class="btn btn-sm" data-toggle="modal" data-target="#deleteProjectModalDialog">
            <span class="glyphicon glyphicon-trash editbtn"></span>
          </a>
        </td>
      </tr>
      <tr>
        <td>Suresh</td>
        <td>Nurse</td>
        <td>Senior</td>
        <td><span class="label label-danger">InActive</span></td>
        <td>
          <a href="#" class="btn btn-sm" data-toggle="modal" data-target="#deleteProjectModalDialog">
            <span class="glyphicon glyphicon-pencil editbtn"></span>
          </a>
          <a href="#" class="btn btn-sm" data-toggle="modal" data-target="#deleteProjectModalDialog">
            <span class="glyphicon glyphicon-trash editbtn"></span>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="row">
    <div class="col-md-2">
      <label>No of records</label>
      <select class="form-control" style="width:revert;height:28px;">
        <option>Select</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
      </select>
    </div>
    <div class="col-md-8">
      <div class="col-lg-4 col-md-4 my-2 d-inline-flex align-items-center justify-content-lg-center" style="margin-left:300px">Showing 10 of 50 entries</div>
    </div>
    <div class="col-md-2 pull-right">
      <ul class="pagination pagination-sm">
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
      </ul>
    </div>
  </div>



</div>
<!--<div class="modal fade" id="addProjectModalDialog" role="dialog">
  <app-project-create></app-project-create>
</div>
<div class="modal fade" id="editProjectModalDialog" role="dialog">
  <app-project-edit></app-project-edit>
</div>
<div class="modal fade" id="deleteProjectModalDialog" role="dialog">
  <app-user-delete [title]="'project'"></app-user-delete>
</div>-->
