
<div class="container">
  <h2>Staffs</h2>
  <div class="row">
    <div class="col-md-4">
      <input type="text" class="form-control" placeholder="search" />
    </div>
    <div class="col-md-4">
      <select class="form-control">
        <option>Select</option>
        <option>Morning</option>
        <option>Afternoon</option>
        <option>Night</option>
      </select>
      <!--<label>Shifts</label>-->
    </div>
    <div class="col-md-4">
      <input type="date" class="form-control" placeholder="search" />
    </div>
    <!--<div class="col-md-4">
      <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#addProjectModalDialog">Add Staff</button>
    </div>-->
  </div>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Role</th>
        <th>Department</th>
        <th>Shift Type</th>
        <th>Is LoggedIn</th>
        <th>Comments</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Rohan</td>
        <td>Doctor</td>
        <td>Surgeon</td>
        <td><span class="label label-primary">Morning</span></td>
        <td><span class="label label-primary">Yes</span></td>
        <td>I amAttended</td>
        <td>
          <span class="label label-primary">Attended</span>
        </td>
        <td>
          <a href="#" class="btn btn-sm" data-toggle="modal" data-target="#deleteProjectModalDialog">
            <span class="glyphicon glyphicon-pencil editbtn"></span>
          </a>
        </td>
      </tr>
      <tr>
        <td>Suresh</td>
        <td>Nurse</td>
        <td>Nurse1</td>
        <td><span class="label label-danger">Afternoon</span></td>
        <td><span class="label label-danger">No</span></td>
        <td>Not Attended</td>
        <td>
          <span class="label label-primary">Not Attended</span>
        </td>
        <td>
          <a href="#" class="btn btn-sm" data-toggle="modal" data-target="#deleteProjectModalDialog">
            <span class="glyphicon glyphicon-pencil editbtn"></span>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="row">
    <div class="col-md-2">
      <label>No of records</label>
      <select class="form-control" style="width:revert;height:28px;">
        <option>Select</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
      </select>
    </div>
    <div class="col-md-8">
      <div class="col-lg-4 col-md-4 my-2 d-inline-flex align-items-center justify-content-lg-center" style="margin-left:300px">Showing 10 of 50 entries</div>
    </div>
    <div class="col-md-2 pull-right">
      <ul class="pagination pagination-sm">
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
      </ul>
    </div>
  </div>
</div>

